<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.plan.pc.tbSuperPlan.dao.SuperPlanDao">

    <!--用户列表-->
    <select id="listSuperPlanByPage" parameterType="com.plan.pc.tbSuperPlan.entity.SuperPlanVo" resultType="com.plan.pc.tbSuperPlan.entity.SuperPlanVo">
        select
        a.id id,
        a.plan_id planId,
        a.sort sort,
        a.create_name createName,
        a.create_time createTime,
        a.update_name updateName,
        a.update_time updateTime,
        a.version version
        from tb_super_plan a
        where a.is_deleted = 1
<!--        <if test="goodsName != null and goodsName != ''">-->
<!--            and a.goods_name like concat('%', #{goodsName}, '%')-->
<!--        </if>-->
        order by a.create_time desc
    </select>

</mapper>